body {
    font-family:'Quicksand', Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}
header {
    height:92px;
    background-color:#000;
    color:#FFF;
}
.header {
    max-width:1140px;
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo {
    width:100px;
}
.menu {
    flex:1;
    display:flex;
    justify-content:center 
}
.menu ul,
.menu li {
    list-style:none;
}
.menu ul {
    display:flex;
    align-items: center;
}
.menu li a {
    color:#CCC;
    text-transform: uppercase;
    font-weight:600;
    text-decoration:none;
    padding-right:10px;
    padding-left:10px;
    height:100px;
    display:flex;
    align-items:center;
    border-bottom:5px solid #000;
}
.menu li a:hover,
.menu .active a {
    border-bottom:5px solid green;
    color: #FFF;
}

.banner {
    background-image: url('../imagens/cidade.jpg');
    height:502px;
    background-size:cover;
    background-position:bottom;
    overflow:hidden;
}
.banner .slide {
    width:1400px;
    display:inline-block;
    background-color:rgba(0, 0, 0, 0.6 );
}
.banner .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content:center;
    align-items: center;
    color:#FFF;
}
.banner h1 {
    text-transform:uppercase;
    text-align: center;
    font-weight:bold;
    font-size:55px;
    text-shadow:0px 0px 10px #000;
}
.banner h1 span {
    color:#FFF;
    text-shadow:0px 0px 10px #000;
}

.default .section-title,
.default .section-desc {
    text-align:center;
    text-transform:uppercase;
    font-weight:600;
}

.default .section-title {
    font-size: 30px;
}

.default .section-desc img {
    width:55px;
    height:55px;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    margin-left:15px;
}

/* 
CSS DE ÁREAS ESPECÍFICAS 
*/
.sobre {
    width:1350px;
    height:502px;
    text-align:center;
    text-transform:uppercase;
    font-weight:600;
}
.sobre-pessoal {
    align-items:center;
    margin-top:3%;
    margin-right:5%;
    background-image:url(../imagens/pessoal.jpg);
    width:40%;
    height:70%;
    border-radius:5px;
    background-size:cover;
    background-position:center;
    display: inline-flex;
}

.sobre-profissional {
    align-items: center;
    background-image:url(../imagens/profissional.jpeg);
    width:40%;
    height:70%;
    border-radius:5px;
    background-size:cover;
    background-position:center;
    display: inline-flex;
}

.projetos {
    width:1100px;
    font-size:22px;
    padding-left:20%;
    text-align:justify;
    margin-bottom:0.5%;
}

.contato {
    width:1400px;
    height:492px;
    font-size:23px;
    margin-top:10px;
    margin-left:460px;
}

.contato img {
    margin-left:15px;
    display: inline-flex;
    align-items: center;
    width:70px;
}

.contato form {
    font-size:15px;
    width:30%;
    padding-left:5%;
    padding-top:2%;
    padding-bottom:2%;
    border-radius:10px;
    justify-content: center;
    background-color: #EED;

}
/*
CSS FOOTER
*/
footer {
    height:30px;
    background-color: #000;
    color:#FFF;
}

.footer {
    font-size:10px;
    text-align:right;
    padding-top:16px;
    padding-right:5px;
}